<div id="showcase" class="showcase">
  <div class="welcome">
    <a href="/discord" id="welcometxt" style="font-size:X-Large;"><%=  localize. JoinDiscord %></a><br />
  </div>
  <img src="/images/logo.png" class="h_image" />
</div>
<div id="main" class="products">
  <div class="danger">
    <i class="bi bi-heart" style="font-size: 30px; margin-right: 10px"></i>
    <span id="Label71"><%=  localize.DonateText %></span>
    <a href="https://www.artadosearch.com/Donate"><span id="donate"><%=  localize.Donate %></span></a>
  </div>
  <div style="font-size:22px; margin-left: 20px;"><%= localize.MyProjects%></div>

  <%- include("./products"); %>


</div>